.blogs_tags {
  margin: 0 -5px;
  flex-wrap: wrap;
  margin-right: 40px;
}

.blogs-tag {
  margin: 0px 5;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 14px;
  font-family: bit-600;
  border-radius: 4px;
  margin-bottom: 10px;
}

.drop-list__li,
.drop-list__placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.drop-list__placeholder {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 14px;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.blogs__sort {
  flex: 1 1 auto;
  max-width: 232px;
  margin-bottom: 10px;
}

.main__blogs-catalog {
  margin-top: 70px;
}

.blogs-catalog__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
  justify-content: center;
}

.blogs-catalog__blog {
  margin: 0px 10px;
  margin-bottom: 23px;
  display: flex;
}

.main__pages {
  padding: 0px 30px;
  margin-bottom: 168px;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages__arrow {
  fill: #e36f59;
  width: 40px;
  height: 12px;
  stroke: #e36f59;
  opacity: 1;
  cursor: pointer;
}

.pages__arrow_prev {
  transform: rotate(180deg);
}

.pages__row {
  display: flex;
  margin: 0px -5px;
}

.pages__page {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #23262D;
  font-family: sego-600;
  background: #FFFFFF;
  border: 2px solid #E2E7EB;
  border-radius: 8px;
  padding: 11px 14px;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 0px 5px;
}

.pages__page:hover {
  color: #E36F59;
  border: 2px solid #E36F59;
}

.pages__page_active {
  background-color: #E36F59;
  color: white;
  border: none;
}

.pages__page_active:hover {
  background-color: #E36F59;
  color: white;
  border: none;
}

@media (max-width: 1040px) {
  .main__blogs-catalog {
    margin-top: 50px;
  }

  .main__pages {
    margin-bottom: 104px;
  }
}

@media (max-width: 955px) {
  .blogs-catalog__blog {
    flex: 1 1 40%;
  }

  .blog {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 730px) {
  .blogs-catalog__blog {
    flex: 1 1 auto;
  }

  .main__blogs-catalog {
    margin-top: 40px;
  }

  .main__pages {
    margin-bottom: 63px;
  }

  .pages__page {
    font-size: 14px;
    line-height: 14px;
    padding: 8px 10px;
  }

  .pages__arrow {
    width: 30px;
    height: 12px;
  }
}

@media (max-width: 550px) {
  .blogs-tag {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 14px;
  }

  .blogs__sort {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .main__pages {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .pages__arrow {
    display: none;
  }
}