@font-face {
  font-family: bit-900;
  font-display: swap;
  src: url("../fonts/Bitter-Black.woff2") format("woff2"), url("../fonts/Bitter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: bit-600;
  font-display: swap;
  src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: sego700;
  font-display: swap;
  src: url("../fonts/Segoe UI Bold.woff2") format("woff2"), url("../fonts/Segoe UI Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: consol;
  font-display: swap;
  src: url("../fonts/consolas.woff2") format("woff2"), url("../fonts/consolas.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: bit-700;
  font-display: swap;
  src: url("../fonts/Bitter-Bold.woff2") format("woff2"), url("../fonts/Bitter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: sego-600;
  font-display: swap;
  src: url("../fonts/segoe-ui-semibold.woff2") format("woff2"), url("../fonts/segoe-ui-semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: sego-i;
  font-display: swap;
  src: url("../fonts/Segoe UI Italic.woff2") format("woff2"), url("../fonts/Segoe UI Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: sego;
  font-display: swap;
  src: url("../fonts/Segoe UI.woff2") format("woff2"), url("../fonts/Segoe UI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}