.main-sec {
  overflow: hidden;
}

.main-sec__row {
  display: flex;
  position: relative;
}

.main-sec__title {
  margin-top: 82px;
  max-width: 636px;
}

.main-sec__desc {
  margin-top: 22px;
  max-width: 512px;
}

.main-sec__button {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: bit-600;
  margin-top: 49px;
}

.main-sec__button-arrow {
  width: 40px;
  height: 14px;
  fill: white;
  margin-left: 20px;
  stroke: white;
}

.main-sec__mouse {
  display: flex;
  align-items: center;
  margin-top: 77px;
}

.main-sec__mouse-icon {
  width: 20px;
  height: 30px;
}

.main-sec__mouse-txt {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #23262D;
  margin-left: 13px;
}

.main-sec__mouse-line {
  height: 1px;
  max-width: 523px;
  flex: 1 1 auto;
  background-color: #D8DFDA;
  margin-left: 30px;
}

.main-sec__r-part {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: -1;
}

.main-sec__image {
  position: relative;
  left: 50px;
}

.articles__row {
  position: relative;
}

.articles__content {
  padding-bottom: 68px;
}

.swiper {
  width: 100%;
  height: 500px;
}

.main__articles {
  margin-top: 178px;
}

.articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main-title {
  font-family: bit-700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: #23262D;
  position: relative;
}

.main-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 111px;
  height: 16px;
  background: #E36F59;
  opacity: 0.5;
  border-radius: 4px;
  top: 57%;
  left: -9px;
  z-index: -1;
}

.main-course {
  height: 286px;
  width: 100%;
  overflow: hidden;
}

.main-course__content {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  height: 100%;
  padding: 0px 20px;
  padding-top: 14px;
  padding-bottom: 26px;
}

.main-course__content_ccharp {
  background: #CCC1F6;
}

.main-course__row {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.bulka {
  cursor: pointer;
}

.main-course__images {
  display: flex;
  justify-content: space-between;
}

.main__course-img-prog-lang {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__course-state {
  font-family: bit-900;
  font-size: 100px;
  line-height: 120px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.1;
  color: black;
}

.main-course__content {
  display: flex;
}

.main-course__info {
  margin-top: -24px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main-course__title {
  font-family: bit-900;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #23262D;
}

.main-course__decription {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #23262D;
  margin-top: 20px;
  flex: 1 1 auto;
}

.main-course__footer {
  margin-top: 9px;
  display: flex;
  justify-content: flex-end;
}

.main-course__btn {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-family: bit-600;
  color: #23262D;
  cursor: pointer;
}

.swiper-courses {
  max-height: 338px;
}

.main-course__content_new {
  background: #E7EEF3;
}

.main__prog-cool {
  margin-top: 182px;
}

.prog-cool__title {
  text-align: center;
  position: relative;
}

.prog-cool__title::before {
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prog-cool__row {
  display: flex;
  margin-top: 42px;
  justify-content: space-between;
}

.prog-cool__item_center {
  margin-top: 31px;
}

.prog-cool__item_end {
  margin-top: 22px;
}

.i-prog-cool__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #23262D;
  font-family: sego-600;
  margin-top: 23px;
}

.prog-cool__swiper {
  display: none;
}

.swiper-button-next-prog-cool {
  position: relative;
}

.swiper-button-prev-prog-cool {
  position: relative;
}

.prog-cool__arrows {
  display: flex;
  justify-content: space-between;
  max-width: 534px;
  margin: 0 auto;
  margin-top: 0px;
  z-index: 2;
}

.swiper-prog-cool {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main__form {
  margin-top: 160px;
  margin-bottom: 160px;
}

.form {
  width: 100%;
}

.form__content {
  width: 100%;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
  border-radius: 20px;
}

.form__title::before {
  position: absolute;
  z-index: 1;
}

.form__title p {
  z-index: 4;
  position: relative;
}

.form__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 111px;
  height: 16px;
  background: #E36F59;
  opacity: 0.5;
  border-radius: 4px;
  top: 57%;
  left: 88%;
  z-index: 1;
}

.form__desc {
  margin-top: 10px;
}

.form__actions {
  margin: 0px -15px;
  margin-top: 50px;
  display: flex;
}

.form__input {
  flex: 1 1 auto;
  max-width: 390px;
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
}

.form__input-input {
  flex: 1 1 auto;
  font-family: sego-600;
  max-width: none;
}

.form__subscribe {
  display: inline-flex;
  margin: 0px 15px;
}

@media (max-width: 1195px) {
  .swiper {
    width: 690px;
    margin: 0 auto;
    height: 500px;
  }

  .blog {
    width: 100%;
  }

  .main-title {
    font-size: 40px;
    line-height: 40px;
  }

  .main-title::before {
    width: 49px;
    height: 8px;
    top: 70%;
  }

  .articles__much-articles {
    padding: 12px 20px 11px;
    font-size: 16px;
    line-height: 19px;
  }

  .swiper-courses {
    max-height: 338px;
    width: 100%;
  }

  .main-course__images {
    align-items: center;
  }

  .main__course-state {
    font-size: 60px;
    line-height: 72px;
  }

  .main-course__info {
    margin: 0;
    margin-top: 17px;
  }

  .main-course__title {
    font-size: 24px;
    line-height: 24px;
  }

  .main-course__decription {
    font-size: 14px;
    line-height: 20px;
  }

  .form__title::after {
    content: "";
    display: block;
    position: absolute;
    width: 201px;
    height: 16px;
    background: #E36F59;
    opacity: 0.5;
    border-radius: 4px;
    top: 57%;
    left: 66%;
    z-index: 1;
  }
}

@media (max-width: 1160px) {
  .main-sec__title {
    max-width: 536px;
  }

  .main-sec__desc {
    max-width: 512px;
  }
}

@media (max-width: 1077px) {
  .main-sec__title {
    max-width: 306px;
    font-size: 40px;
    line-height: 48px;
  }

  .main-sec__desc {
    max-width: 278px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1050px) {
  .i-prog-cool__image {
    width: 170px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 auto;
  }

  .i-prog-cool__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .i-prog-cool__text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 916px) {
  .main-sec__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 545px;
    height: 450px;
    top: 100px;
  }
}

@media (max-width: 890px) {
  .form__title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .form__title::before {
    display: none;
  }

  .form__title::after {
    display: none;
  }

  .form__desc {
    text-align: center;
  }

  .form__row {
    display: block;
    padding: 30px;
  }

  .form__content {
    display: block;
  }

  .form__actions {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__subscribe {
    margin-top: 20px;
  }

  .form__content {
    padding: 20px 0px;
  }
}

@media (max-width: 740px) {
  .swiper {
    width: 260px;
    margin: 0 auto;
    height: 500px;
  }

  .main-title {
    font-size: 24px;
    line-height: 24px;
  }

  .main-title::before {
    width: 49px;
    height: 8px;
    top: 70%;
  }

  .articles__much-articles {
    padding: 0px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #E36F59;
  }

  #swiper-button-prev {
    width: 30px;
  }

  #swiper-button-next {
    width: 30px;
  }

  .bulka {
    width: 6px;
    height: 6px;
  }

  .main__articles {
    margin-top: 80px;
  }
}

@media (max-width: 730px) {
  .main__prog-cool {
    margin-top: 100px;
  }

  .prog-cool__row {
    display: none;
  }

  .prog-cool {
    padding-bottom: 200px;
  }

  .i-prog-cool__text {
    max-width: 241px;
    font-size: 16px;
    line-height: 20px;
  }

  .prog-cool__swiper {
    display: block;
  }

  .prog-cool__title {
    margin-bottom: 11px;
  }

  .i-prog-cool__image {
    width: 100%;
    height: 200px;
  }

  .main__form {
    margin-top: 0px;
  }

  .main__form {
    margin-bottom: 100px;
  }
}

@media (max-width: 720px) {
  .main-sec__r-part {
    position: static;
  }

  .main-sec__row {
    flex-direction: column;
  }

  .main-sec__mouse {
    display: none;
  }

  .main-sec__image {
    position: static;
    margin-top: 19px;
    max-width: 100%;
    max-height: 100%;
  }

  .main-sec__title {
    margin-top: 82px;
    max-width: 100%;
    margin-top: 20px;
  }

  .main-sec__desc {
    margin-top: 22px;
    max-width: 100%;
  }

  .main-sec__r-part {
    justify-content: start;
  }
}

@media (max-width: 700px) {
  .form__actions {
    flex-direction: column;
  }

  .form__input:not(:last-child) {
    margin-bottom: 15px;
    width: 95%;
    max-width: none;
  }

  .form__subscribe {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .main__form {
    margin-bottom: 60px;
  }
}

@media (max-width: 550px) {
  .main-course__title {
    font-size: 20px;
    line-height: 24px;
  }

  .main__course-state {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1em;
  }

  .main__course-img-prog-lang {
    width: 35px;
    height: 40px;
  }
}

@media (max-width: 520px) {
  .main-sec__title {
    font-size: 30px;
    line-height: 36px;
  }

  .main-sec__desc {
    font-size: 16px;
    line-height: 20px;
  }

  .main-sec__button-arrow {
    display: none;
  }

  .main-sec__button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .main__prog-cool {
    margin-top: 80px;
  }
}

@media (max-width: 330px) {
  .form__input-input {
    border: none;
  }
}