.d-blog__practic {
  margin-top: 46px;
  margin-bottom: 160px;
}

.practic__content {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.practic__title {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: #23262D;
  font-family: bit-700;
}

.practic__arrow {
  width: 16px;
  height: 8px;
  fill: #23262D;
  cursor: pointer;
  transition-duration: 0.3s;
}

.practic__head {
  min-height: 100px;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.practic__head_active {
  border-bottom: 1px solid #E2E7EB;
}

.practic__head_active .practic__arrow {
  transform: rotate(180deg);
}

.practic__row {
  display: none;
}

.practic__row_active {
  display: block;
}

.practic__row {
  margin-top: 30px;
  padding: 0px 20px;
}

.practic__section:not(:first-child) {
  margin-top: 50px;
}

.practic__sub-title {
  margin-bottom: 5px;
}

.practic-sub-title {
  font-size: 24px;
  line-height: 29px;
  color: #23262D;
  font-family: bit-700;
}

.practic-question {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #23262D;
}

.practic__question {
  margin-top: 5px;
}

.practic__code {
  margin-top: 15px;
}

.practic-code {
  background: #F7F8FA;
  border: 2px solid #E2E7EB;
  border-radius: 8px;
  width: 100%;
  padding: 2px 20px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #23262D;
  font-family: consol;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.practic-code__blue {
  color: #00A3FF;
}

.practic-code__orange {
  color: #E36F59;
}

.practic__result {
  margin-top: 20px;
}

.practic-result {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #E2E7EB;
  border-radius: 8px;
  padding: 0px 20px;
}

.practic-result__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  cursor: pointer;
}

.practic-result__title {
  font-size: 18px;
  line-height: 18px;
  color: #23262D;
  font-family: bit-700;
}

.practic-result__arrow {
  fill: #23262D;
  cursor: pointer;
  width: 16px;
  height: 8px;
  transition-duration: 0.2s;
}

.practic-result__text {
  display: none;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #23262D;
  margin-bottom: 25px;
  margin-top: 14px;
}

.practic-result__text_active {
  display: block;
}

.practic-result__head_active {
  border-bottom: 1px solid #E2E7EB;
}

.practic-result__head_active .practic-result__arrow {
  transform: rotate(180deg);
}

.practic__roll-up {
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E36F59;
  font-family: bit-600;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  cursor: pointer;
}

.pr-t {
  margin-top: 55px;
}

.practic__roll-up-icon {
  width: 40px;
  height: 14px;
  fill: #E36F59;
  stroke: #E36F59;
}

@media (max-width: 1000px) {
  .practic__roll-up {
    margin-top: 20px;
  }

  .d-blog__practic {
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .practic__content {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 0px;
  }

  .practic__roll-up {
    margin-top: 30px;
  }

  .practic__title {
    font-size: 24px;
    line-height: 24px;
  }

  .practic__head {
    min-height: 88px;
  }

  .practic-code {
    font-size: 12px;
    line-height: 20px;
  }

  .practic-question {
    font-size: 14px;
    line-height: 14px;
  }

  .practic-result__text {
    font-size: 14px;
    line-height: 22px;
  }

  .d-blog__practic {
    margin-bottom: 60px;
  }
}

@media (max-width: 370px) {
  .practic__title {
    font-size: 20px;
    line-height: 20px;
  }

  .practic__head {
    min-height: 67px;
  }
}

@media (max-width: 320px) {
  .practic__title {
    font-size: 16px;
    line-height: 16px;
  }
}